<!DOCTYPE html>
<html manifest="yafboilerplate.appcache">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title></title>
        <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
        <style type="text/css">
            body {background-color: #E6E6E6; color: #555; margin: 0 15px; }
            .container-fluid { max-width: 480px; background-color: #FFF; padding: 30px; }
        </style>
    </head>

    <body>
        <div class="container-fluid">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
